@model TareaLavanderia.Models.Prenda

@{
    ViewData["Title"] = "AgregarPrenda";
}

<h2>AgregarPrenda</h2>

<h4>Prenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarPrenda">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_Prenda" class="control-label"></label>
                <input asp-for="id_Prenda" class="form-control" />
                <span asp-validation-for="id_Prenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CedulaPropietario" class="control-label"></label>
                <input asp-for="CedulaPropietario" class="form-control" />
                <span asp-validation-for="CedulaPropietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPrenda" class="control-label"></label>
                <input asp-for="TipoPrenda" class="form-control" />
                <span asp-validation-for="TipoPrenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoTela" class="control-label"></label>
                <input asp-for="TipoTela" class="form-control" />
                <span asp-validation-for="TipoTela" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescLavado" class="control-label"></label>
                <input asp-for="DescLavado" class="form-control" />
                <span asp-validation-for="DescLavado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
