@model Examen1.Models.ModeloPaciente

@{
    ViewData["Title"] = "RegistrarPaciente";
}

<h2>RegistrarPaciente</h2>

<h4>ModeloPaciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarPaciente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cedula" class="control-label"></label>
                <input asp-for="cedula" class="form-control" />
                <span asp-validation-for="cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sexo" class="control-label"></label>
                <input asp-for="sexo" class="form-control" />
                <span asp-validation-for="sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_nacimiento" class="control-label"></label>
                <input asp-for="fecha_nacimiento" class="form-control" />
                <span asp-validation-for="fecha_nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ocupacion" class="control-label"></label>
                <input asp-for="ocupacion" class="form-control" />
                <span asp-validation-for="ocupacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edad" class="control-label"></label>
                <input asp-for="edad" class="form-control" />
                <span asp-validation-for="edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

